[submodule "wiki"]
	path = wiki
	url = https://github.com/latipium/daemon.wiki.git
[submodule "api"]
	path = api
	url = https://github.com/latipium/daemon-api.git
[submodule "modules/test"]
	path = modules/test
	url = https://github.com/latipium/daemon-test.git
